@mixin mobile {
    @media screen and (max-width: 1024px) { 
        @content; 
    }
}

.site-footer{
    font-family: 'Space Mono';
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-top : solid 1px #000000;
    margin-top: 30px;


    @include mobile {
        height: 208px;
        padding: 20px 0px;
    }

    .footer-wrapper{
        display: flex;

    .footer-item{
        margin-left:30px;

        @include mobile {
            margin-top:15px;
            margin-left:0px;

        }
    
    }

        .menu-footer{
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;

            @include mobile {
                flex-direction: column;
                align-items: center;
            }
        
    
            li{
                padding: 0px 40px;  
                
                @include mobile {
                    padding: 15px 0px;
                }
    
            }

            a{
                text-decoration: none;
                color:#000000;
            }
        }
    }

}
