@mixin mobile {
    @media screen and (max-width: 1024px) {
        @content;
    }
}
.site{
overflow: hidden;

.header {
    overflow: hidden;
    font-family: 'Space Mono';
    text-transform: uppercase;
    
    ul {
        margin: 0;
        padding:0;

        li {
            list-style-type: none;
            padding: 0;
            margin: 20px;

            a {
                text-decoration: none;
            }
        }
    }

    .nav-bar {
        box-shadow: 0px 4px 14px 10px #00000008;
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
        padding: 0px 80px;
        background-color: white;

        @include mobile {
            padding-left : 32px;
            height: 70px;
        }

        &.open {
            opacity: 0;
            background-color: #000000;
            transition: opacity 0.3s ease;
        }

        .nav-bar__logo{
            width: 216px;
            height: 14px;


        }

        .nav-bar__links {
            display: flex;

            .menu-item{
            padding: 0px 0px 0px 40px;
            a{
                color: #000000;
            }
            
            }

            &.desktop {
                @include mobile {
                    display: none;
                }
            }
        }

        .nav-bar__links.mobile {
            display: none;
            position: absolute;
            right: 11%;

            @include mobile {
                display: block;
                position:absolute;
                top:3%;
                left:80%;
            }

            .top-bun,
            .meet,
            .bottom-bun {
                position: relative;
                width: 3em;
                height: 1px;
                background-color: #000000;
                margin-top: 8px;
            }

            .top-bun{
                margin-top: 0px;
            }
        }
    }

    &.mobile {
        position: absolute;
        top: 8px;
        right:0px;

        &:not(.open) {
            width: 0px;
            transition: width 0.3s ease;
        }
        &.open {
            width: 100%;
            transition: width 0.3s ease;
        }


        .nav-bar__links {
                top:2% !important;
                left:81% !important;

            .top-bun {
                transform: rotate(-45deg);
                margin-top: 15px !important;
            }

            .bottom-bun {
                transform: rotate(45deg);
                margin-top: -1px !important;
            }

            .meat {
                opacity: 0;
            }
        }

        .menu-container {
            background-color: #E00000;
            font-size: 44px;
            height:100vh;
            position:relative;
            z-index:10;

            .nav-bar__menu{
                position: relative;
                top: 25vh;

            .nav-bar__links {
                display: flex;
                flex-direction: column;
                align-items: center;

                .menu-item{
                    margin-left:0;
                    margin-right:0;
                a{
                    color: #FFFFFF;
                }
            }
            }
        }}
    }
}
}